.left-nav .left-nav-header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #002140;
}
.left-nav .left-nav-header img {
  margin-left: 15px;
  margin-right: 12px;
  width: 40px;
  height: 40px;
}
.left-nav .left-nav-header h1 {
  font-size: 20px;
  color: white;
  margin-bottom: 0;
}
